footer.footer
    .footer_row
        .contact
            h3.contact__title Contact us
            .contact__info.info
                i.fa.fa-map-marker(aria-hidden="true") map-marker
                .info__text 1234 Heaven Stress, Beverly Hill<br>OldYork- United State of Lorem
                i.fa.fa-phone(aria-hidden="true") phone
                span.info__phone (800) 0123 4567 890
                i.fa.fa-envelope-o(aria-hidden="true") envelope
                span.info__mail help@smartytheme.com
            .contact__socials.socials
                ul.socials__list
                    - var social = ["facebook", "twitter", "instagram", "google-plus", "linkedin", "dribbble"];
                    each val in social
                        li.socials__item
                            a.socials__link(href="#")
                                i.fa(class="fa-#{val}" aria-hidden="true")= val

        .quik
            h3.quik__title Quick Links
            nav.quik__ref.ref
                - var links = ["Our Story", "Shipping Policy", "Terms & Conditions", "Frequently Asked Questions", "Privacy Policy", "Returns"];
                each val in links
                    a.ref__link(href="#")= val

        .collections
            h3.collections__title Collections
            nav.collections__ref.ref
                - var links = ["New Arrivals", "Women", "Men", "Beauty", "Home", "Kids"];
                each val in links
                    a.ref__link(href="#")= val

        .feedback
            h3.feedback__title Sign up for emails
            .feedback__text.feedback__text--blue 20% off your next order,
            .feedback__text when you sign up to our newsletter!
            form.feedback__form(method="post" action="#")
                input.form-input(name="feedback-email" placeholder="Your email ..." type="email")
                button.btn.btn-subscribe(type="submit") Sign up

    .footer_row.footer_row--inner
        nav.nav.nav--inner
            ul.nav__list
                - var links = ["Home", "Shop", "Features", "Portfolio", "Blog"];
                    each val in links
                        li.nav__item
                            a.nav__link(href="#")= val
    .cards
        nav.cards__ref
            - var links = ["MasterCard", "Visa", "Discover", "Wave", "Skrill", "AmerikanExpress"];
            each val, index in links
                a.cards__link(href="#")
                    img.cards_image(src="img/cards/0#{index + 1}.png" alt="#{val}")
                    | #{val}

    .footer_row.footer_row--bottom
        .copyright
            span.copyright__text Copyright 2017
            img.copyright__image(src="img/logo-small.png" alt="logo-small")
            span.copyright__text.copyright__text--tm tm
            span.copyright__text All rights reserved.
            a.copyright__link(href="http://smartythemes.com") Smartythemes.com