extends ../main.layout

block title
    | Cavalier

block content
    .slider
        ul#slider-main.slider__list
            - var n = 1;
            while n < 4
                li.slider__item
                    img.slider__image(src="img/slider/slider0#{n}.jpg" alt="slider0#{n}")
                    .slider__inner.promo
                        h2.promo__title Best theme for ecommerce
                        img.promo__pic(src="img/cavalier-slider01.png" alt="cavalier-slider")
                        .promo__desc When we seek to discover the best in others, we somehow bring out the best in ourselves. A man does not have to be an angel in order to be saint. Do noble things, do not dream them all day long. You have to believe in yourself. Never bend your head, always hold it high. Look the world straight in the face.
                        a.btn.btn--animate.btn--margin-right-21(href="#") Porchase
                        a.btn.btn--invert.btn--animate(href="#") More info
                - n++;

    .features
        h2.features__title Featured Products
        .features__row
            - for (var x = 1; x < 5; x++) {
            .features__item.feature
                a.feature__link(href="#") Link
                .feature__photo
                    img.feature__image(src="img/jacket/jacket0#{x}.png" alt="jaket0#{x}")
                .feature__name Man Jacket
                .feature__price $237
            - }

        .features__control.control.control--left
            a.control__link(href="#") Left
        .features__control.control.control--right
            a.control__link(href="#") Right

    .advertisments
        .advertisments__item.advertisments__item--big
            .advertisments__photo.advertisments__photo--big
                img.advertisments__image(src="img/commercial/commercial01.jpg" alt="commercial01")
            .commercial
                .commercial_desc For man’s
                .commercial__subject.commercial__subject--big Accesories
                a.btn(href="#") check it now
        .advertisments__item
            .advertisments__photo
                img.advertisments__image(src="img/commercial/commercial02.jpg" alt="commercial02")
            .commercial.commercial--right
                .commercial_desc New in
                .commercial__subject Wedding suits
                a.btn(href="#") check it now
        .advertisments__item
            .advertisments__photo
                img.advertisments__image(src="img/commercial/commercial03.jpg" alt="commercial03")
            .commercial.commercial--left
                .commercial_desc Spring collection
                .commercial__subject mans Jacket’s
                a.btn(href="#") check it now

    .products
        h2.products__title Recent Products
        .products__menu.nav.nav--products
            ul.nav__list
                - var links = ["All", "Suit’s", "Jacket’s", "Pants", "Accesories"];
                    each val, index in links
                        - var className = (index == 0) ? 'nav__link nav__link--active' : 'nav__link'
                        li.nav__item
                            a(class="#{className}" href="#")= val

        .products__wrap
            - for (var x = 1; x <= 8; x++) {
            .products__item.product
                a.product__link(href="#") Link
                .product__photo
                    img.product__image(src="img/jacket/jacket0#{x}.png" alt="product0#{x}")
                .product__name Man Jacket
                .product__price $237
                .product__popup.popup
                    a.popup__link(href="#")
                        i.fa.fa-search(aria-hidden="true") search
                    a.popup__link(href="#")
                        i.fa.fa-heart-o(aria-hidden="true") heart
                    a.popup__link(href="#")
                        i.fa.fa-shopping-basket(aria-hidden="true") basket
            - }

        .products__control.control.control--left
            a.control__link(href="#") Left
        .products__control.control.control--right
            a.control__link(href="#") Right

    .sale
        .sale__wrap
            .sale__photo
                img.sale__image(src="img/sale01.jpg" alt="sale01")
            h2.sale__title Made to Measure
            img.sale__img(src="img/hr.svg" width="139" height="18" alt="hr")
            img.sale_desc(src="img/made.png" alt="made")
            a.btn(href="#")

    .news
        h2.news__title Latest News
        ul.news__list
            - for (var x = 1; x <= 3; x++) {
            li.news__item.item-news
                .item-news__pict
                    img.item-news__image(src="img/blog/blog0#{x}.jpg" alt="Blog0#{x}")
                h3.item-news__title Barneys’ Windows Get an Exciting Update From Isabel Marant
                .item-news__wrap
                    i.fa.fa-clock-o(aria-hidden="true") clock
                    .item-news__date November 25, 2015
                    i.fa.fa-link(aria-hidden="true") link
                    a.item-news__link(href="#")
                        span.item-news__tag Fashion
                    p.item-news__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam, quis nostrud.
                    a.btn(href="#")
            - }

    .brends
        ul#slider-brends.brends__list
            - var brends = ["brand01", "brand02", "brand03", "brand04", "brand05", "brand06"];
            each val in brends
                li.brends__item
                    .brends__picture
                        img.brends__image(src="img/brands/#{val}.png" alt="#{val}")

    .modules
        .modules__wrap
            .modules__row
                h3.modules__title Shipping & return policy
                p.modules__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                ul.modules__list.items
                    li.items__item Lost her marbles ended up brown bread
                    li.items__item Snotty nosed brat it's nicked.
                    li.items__item Fish fingers and custard scouser teacakes
                    li.items__item Laughing gear what a doddle
                    li.items__item Figgy pudding spam fritters gob barmy
                p.modules__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            .modules__row
                h3.modules__title Why choose the cavalier shop
                .modules__accordion.accordion
                    - var titles = ["We always use responsive design", "We have super UI design", "Ux optimize", "You will love this theme"];
                    each val, index in titles
                        h4.accordion__title= val
                        .accordion__photo
                            img.accordion__image(src="img/photo01.jpg" alt="Photo0#{index + 1}")
                        .accordion__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
